<%-include('head')-%>
  <!-- ------------------------------nav bar-------------------------- -->
  <div class="container-fluid home-bg">
    <nav class="navbar navbar-expand-lg navbar-light nvbr">
      <div class="nav-logo border border-warning rounded">
        <img style="height: 100%; width: 100%;" src="/static/assets/Picsart_23-10-04_11-22-30-171 (1).png">
      </div>
    
       <a href="/route/logout"><button class="btn btn-primary">Log out</button></a> 
      

    </nav>


    <!-- ------------------------------products-------------------------- -->
    <div class="home-sec">

      <div class="row ">

        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/sofa2.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(173,137,97);">
              <h4 class="card-title text-light">Wooden Aqua</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/sofa1.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(66,93,91);">
              <h4 class="card-title text-light">Olive faquish</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/char2.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(126,149,174);">
              <h4 class="card-title text-light">Sky terp</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/chair3.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(78,79,80);">
              <h4 class="card-title text-light">Wooden Aqua</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/Table.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(35,60,91);">
              <h4 class="card-title text-light">Olive faquish</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/sofa5.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(151,149,142);">
              <h4 class="card-title text-light">Sky terp</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/chair4.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(86,65,46);">
              <h4 class="card-title text-light">Wooden Aqua</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/light.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(177, 178, 181);">
              <h4 class="card-title text-light">Olive faquish</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="/static/assets/sofa3.jpg" alt="Card image cap">
            <div class="card-body p-2" style="background-color: rgb(201, 135, 109);">
              <h4 class="card-title text-light">Sky terp</h4>
              <div class="card__description text-light">
                <p>5. Pour the mixture into a non-stick container and then freeze overnight.
                  Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                <p>width : 7 foot(40 inch)</p>
                <h4>$ 345,354</h4>
                <a href="#" class="btn btn-light">Order Now</a>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <%-include('footer')-%>