<%-include('header')-%>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Log in</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<h6 class="text-center text-danger" id="error"></h6>
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>
						<form action="/route/login" method="post" class="form">
							<div class="form-group">
								<input id="email" type="" style="background-color: #ffffff42;" class="form-control" name="email"
									placeholder="Username">
							</div>
							<div class="form-group">
								<input id="password-field" style="background-color: #ffffff42;" name="password" type="password"
									class="form-control" placeholder="Password">
								<span toggle="#password-field"
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/js/validate.js"></script>
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/popper.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/main.js"></script>



	<%-include('footer')-%>